version = "1.0";

# default colours
color = {
	fg = 250;
	bg = 0;
};

# string to prefix onto the prompt
prefix = "";

# segment-specific configuration
segments: {
	timestamp = {
		fg = 250;
		bg = 238;
	};
	username = {
		fg = 46;
		bg = 240;

		root = {
			fg = 255;
			bg = 204;
		};
	};

	hostname = {
		fg = 46;
		bg = 238;

		root = {
			fg = 204;
			bg = 225;
		};
	};

	cwd = {
		separator = "";

		# convert your home directory path into "~"
		shorten_home_dir = true;
		
		# split cwd into sections using "/" as a delimiter
		split_cwd = true;
		split_cwd_separator = "";
		split_cwd_separator_color = 240;

		fg = 255;
		bg = 69;
		readonly = {
			fg = 255;
			bg = 62;
		};
	};

	git = {
		separator = "";
		
		# which branches to display on prompt
		show_local = true;
		show_remote = false;

		# show git icon
		show_icon = true;
		icon = "⌥";
		icon_color = "0";

		# show number of commits to be pushed/pulled
		show_pending = true;
		pending_color = 0;
		pending_push_icon = "↑";
		pending_pull_icon = "↓";

		fg = 0;
		bg = 220;
	};

	prompt = {
		separator = "";

		prompt = "$";

		root_prompt = "#";
		
		# colour of prompt when previous exit status was zero
		fg = 255;
		bg = 240;

		# colour of prompt when previous exit status was non-zero
		error = {
			fg = 255;
			bg = 204;
		};
	};
};